@using MDT.Models
@model User
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Change your display name</h3>
</div>

@using (Ajax.BeginForm("Edit", "User", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "details", OnSuccess = "hideModal", OnFailure = "showModalError" }, htmlAttributes: new { id = "ModalForm" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-xs-4" })
                <div class="col-xs-8">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-xs-8 pull-right">
                    <button type="submit" class="btn btn-sm btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
}