@using MDT.ViewModels
@using MDT.Models
@using MDT.Models.DTO
@model UserVM
@{
    GroupDTO group = (GroupDTO)Session["group"];
    UserDTO user = (UserDTO)Session["user"];
}
<div class="col-md-3">
    <h1>About Me</h1>
    <p>
        <b>Name: </b> @Model.UserName <br />
        <b>Email: </b> @Model.EmailAddress <br />
        <b>CurrentGroupID: </b> @Model.CurrentGroupId<br />
        <b>Verification Status: </b>
        @{
            if (@Model.IsVerified)
            {
                <b>Verified</b>
            }
            else
            {
                <b>Not Verified</b>
            }
        }
        <br />
        <b>Activity Status: </b>
        @{
            if (@Model.IsActive)
            {
                <b>Active</b>
            }
            else
            {
                <b>InActive</b>
            }
        }
        <br />
        <b>Admin Groups: </b>
        @{
            if (@Model.AdminGroups.Count == 0)
            {
                <b>None</b>
            }
            else
            {
                foreach (var admin in @Model.AdminGroups)
                {
                    <br /><b>@admin</b>
                }
            }
        }
        <br />
        <b>Member Groups: </b>
        @{
            if (@Model.MemberGroups.Count == 0)
            {
                <b>None</b>
            }
            else
            {
                foreach (var member in @Model.MemberGroups)
                {
                    <br /><b>@member</b>
                }
            }
        }
        <br />
        @Ajax.ActionLink("Change Password", "ChangePass", null, new AjaxOptions() { UpdateTargetId = "screen" }, new { @class = "btn btn-info" })
        <button type="button" id="btnJoinGroup" class="btn btn-info">Join a Group</button>
    </p>
    <br />
    <vr />
</div>
<div class="col-sm-8">
    <h1>Upcoming Draws</h1>
    <hr />
    @if (ViewBag.Draws != null && ViewBag.Draws.Count != 0)
    {
        foreach (Draw d in ViewBag.Draws)
        {
            <div class="row">
                <div class="col-sm-3">
                    <h3>@d.DrawType.DrawTypeName</h3>
                </div>
                <div class="col-sm-3">
                    @(d.StartDateTime != null ? "Began on " + d.StartDateTime.ToString() : "Not Yet Started")

                </div>
                <div class="col-sm-3">
                    Ends on @d.EndDateTime
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <div class="row">
            <h3>You are not currently set to participate in any draws.</h3>
        </div>
        <hr />
    }
@if (@Model.Balances.Count > 0)
    {
        <div>
                <h2>Balance Details</h2>
            <table class="table table-bordered table-responsive" style="width:60%">
                <thead>
                    <tr> 
                        <th>Ledger Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (Balance b in @Model.Balances)
                    {
                    <tr>
                        <td>@b.Ledger.LedgerName</td>
                        <td>$@b.CurrentBalance</td>
                    </tr>
                    }
                

                </tbody>
            </table>
        </div>
    }
</div>

<script type="text/javascript">
    $('#btnJoinGroup').on('click', function () {
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load('@Url.Action("JoinGroupWithCode", "User", null, null)');
    });
</script>
