@using MDT.Models
@using MDT.Models.DTO
@model MDT.ViewModels.UserVM

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserDTO user = (UserDTO)Session["User"];
}


<div class="col-md-3">
    <h1>Member Details</h1>
    <b>Name: </b> @Model.UserName <br />
    <b>Role: </b> @Model.CurrentGroupId<br />
    <b>Email: </b> @Model.EmailAddress <br />
    <b>Status: </b> @(Model.IsVerified ? "Verified" : "Not Verified") <br />
    <button type="button" data-action="@Url.Action("TriggerPasswordReset", "Group",new { id = Model.UserId })" class="btn btn-sm btn-warning btnMember" title="Trigger Password Reset"><span class="fa fa-key"></span></button>

    @if (!ViewBag.IsOwner && Model.UserId != user.UserId)
    {
        if (ViewBag.IsAdmin)
        {
            <button type="button" data-action="@Url.Action("Demote", "Group", new { id = Model.UserId })" class="btn btn-sm btn-warning btnMember" title="Demote from Admin"><span class="fa fa-arrow-circle-down"></span></button>
            <button type="button" data-action="@Url.Action("Remove", "Group", new { id = Model.UserId })" class="btn btn-sm btn-danger btnMember" title="Remove from Group"><span class="fa fa-times-circle"></span></button>
        }
        else
        {
            <button type="button" data-action="@Url.Action("Promote", "Group",new { id = Model.UserId })" class="btn btn-sm btn-primary btnMember" title="Promote to Admin"><span class="fa fa-arrow-circle-up"></span></button>
            <button type="button" data-action="@Url.Action("Permissions", "Group",new { id = Model.UserId })" class="btn btn-sm btn-info" title="Edit Permissions"><span class="fa fa-file-text-o"></span></button>
            <button type="button" data-action="@Url.Action("Remove", "Group",new { id = Model.UserId })" class="btn btn-sm btn-danger btnMember" title="Remove from Group"><span class="fa fa-times-circle"></span></button>
        }
        <br />
        <vr />
    }
</div>
