@using MDT.ViewModels;
@model List<GroupVM>
@{
    ViewBag.Title = "Pending Group Approvals";
}

@if (ViewBag.Message != null)
{
    <h2 class="text-success">@ViewBag.Message</h2>
    <br />
}

@if (ViewBag.Error != null)
{
    <h2 class="text-danger">@ViewBag.Error</h2>
    <br />
}

<h2>Group Applications</h2>
@if (Model.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <table id="tblApp" class="cell-border">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Primary Admin</th>
                        <th>Request</th>
                        <th>Approve?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GroupVM grp in Model)
                    {
                        <tr>
                            <td>@grp.GroupName</td>
                            <td>@Html.Raw(grp.Admins.Select(u => $"<a href=\"mailto:{u.EmailAddress}\">{u.UserName}</a>").FirstOrDefault())</td>
                            <td>@grp.Descriptions.Where(d => d.Key == 5).Select(d => d.Value.FirstOrDefault().TextBody).FirstOrDefault()</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-xs btn-danger btnModal" data-action="@Url.Action("Reject", "Admin", new { id = grp.GroupId })" title="Reject this group"><span class="fa fa-times-circle"></span></button>
                                <button type="button" class="btn btn-xs btn-success btnWindow" data-action="@Url.Action("Approved", "Admin", new { id = grp.GroupId })" title="Approve this group"><span class="fa fa-check-circle"></span></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h3>No Groups need approved.</h3>
}

<script type="text/javascript">
    $(function () {
        if ($('#tblApp').length > 0) {
            $('#tblApp').DataTable({
                autoWidth:true,
                scrollY: '300px',
                scrollX:false,
                scrollCollapse: true,
                paging: false,
                aaSorting: [],
            });
        }
    });
</script>
