@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model TransactionListVM

@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool admin = WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId) || WebManager.HasPermission(user.CurrentGroupId, user.UserId, "Transactions");
}


<h2>
    Pending Transactions
    @if (!admin)
    {
        <button type="button" class="btn btn-xs btn-success btnModal" title="Report a Transaction" data-action="@Url.Action("ReportNewTransaction", "Transaction", null, null)"><span class="fa fa-plus-circle"></span></button>
    }
</h2>
@if (Model.PendingTransactions.Any())
{
    <div>
        <table id="tblPending" class="table table-bordered">
            <thead>
                <tr>
                    @if (admin)
                    {
                        <th>User</th>
                    }
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Source</th>
                    <th>Destination</th>
                    @if (admin)
                    {
                        <th>Accept</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (TransactionDTO pt in Model.PendingTransactions)
                {
                <tr>
                    @if (admin)
                    {
                        <td>@pt.UserName</td>
                    }
                    <td>@pt.TransactionTypeName</td>
                    <td>$@pt.Amount</td>
                    <td>@($"{pt.TransactionDateTime:yyyy-MM-dd HH:mm}")</td>
                    <td>@pt.SourceLedgerName</td>
                    <td>@pt.DestinationLedgerName</td>
                    @if (admin)
                    {
                        <td>
                            <button type="button" class="btn btn-xs btn-success btnPanel" title="Accept this transaction" data-panel="pending" data-action="@Url.Action("Accept", "Transaction", new { id = pt.TransactionId }, null)"><span class="fa fa-plus-circle"></span></button>
                            <button type="button" class="btn btn-xs btn-danger  btnPanel" title="Reject this transaction" data-panel="pending" data-action="@Url.Action("Reject", "Transaction", new { id = pt.TransactionId }, null)"><span class="fa fa-times-circle"></span></button>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#tblPending').DataTable();
        });
    </script>
}
else
{
    <h3>No pending transactions found</h3>
}

@if (ViewBag.RefreshTransactions ?? false)
{
    <script type="text/javascript">
        $(function () {
            $('#transactions').empty();
            $('#transactions').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
            $('#transactions').load('@Url.Action("Transactions", "Transaction", null, null)');

            if ($('#tblPending').length) {
                $('#tblPending').DataTable();
            }
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(function () {
            if ($('#tblPending').length) {
                $('#tblPending').DataTable();
            }
        });
    </script>
}