@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model TransactionListVM

@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool admin = WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId) || WebManager.HasPermission(user.CurrentGroupId, user.UserId, "Transactions");
}


<h2>
    Pending Transactions
    @if (!admin)
    {
        <button type="button" class="btn btn-xs btn-success btnModal" title="Report a Transaction" data-action="@Url.Action("ReportNewTransaction", "Transaction", null, null)"><span class="fa fa-plus-circle"></span></button>
    }
</h2>
@if (Model.PendingTransactions.Any())
{
    <div>
        <table id="tblPending" class="table table-bordered">
            <thead>
                <tr>
                    @if (admin)
                    {
                        <th>User</th>
                    }
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Source Ledger</th>
                    <th>Destination Ledger</th>
                    <th>Accept</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TransactionDTO pt in Model.PendingTransactions)
                {
                    <tr>
                        @if (admin)
                        {
                            <td>@pt.UserName</td>
                        }
                        <td>@pt.TransactionTypeName</td>
                        <td>$@pt.Amount</td>
                        <td>@pt.TransactionDateTime</td>
                        <td>@pt.SourceLedgerName</td>
                        <td>@pt.DestinationLedgerName</td>
                        <td>
                            <input type="submit" class="btn btn-sm" value="Approve" onclick="location.href='@Url.Action("AcceptTransaction", "Transaction",
                                                                                                           new {pendTransactionId = pt.TransactionId})'" />
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    @if (admin)
                    {
                        <th>User</th>
                    }
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Source Ledger</th>
                    <th>Destination Ledger</th>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    <h2 class="text-center">No pending transactions found</h2>
}

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.searchPanes.min.js"></script>
<script src="~/Scripts/dataTables.select.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/select.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/searchPanes.dataTables.min.css" />

<script type="text/javascript">
    $(function () {
        $('#tblPending tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        var pendingTable = $('#tblPending').DataTable();

        pendingTable.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });
    });
</script>