@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model TransactionListVM

@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool admin = WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId) || WebManager.HasPermission(user.CurrentGroupId, user.UserId, "Transactions");
}


<h2>
    Transaction History
    @if (admin)
    {
        <button type="button" class="btn btn-xs btn-success btnModal" title="Add a Transaction" data-action="@Url.Action("AddNewTransaction", "Transaction", null, null)"><span class="fa fa-plus-circle"></span></button>
    }


</h2>
@if (ViewBag.Message != null)
{
    <div class="row text-center">
        <h3 class="text-success">@ViewBag.Message</h3>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="row text-center">
        <h3 class="text-danger">@ViewBag.Error</h3>
    </div>
}
@if (Model.Transactions.Any())
{
    <div class="row">
        <table id="tblTransactions" class="table table-bordered">
            <thead>
                <tr>
                    @if (admin)
                    {
                        <th>User</th>
                    }
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Source Ledger</th>
                    <th>Destination Ledger</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TransactionDTO transaction in Model.Transactions)
                {
                    <tr>
                        @if (admin)
                        {
                            <td>@transaction.UserName</td>
                        }
                        <td>@transaction.TransactionTypeName</td>
                        <td>$@transaction.Amount</td>
                        <td>@($"{transaction.TransactionDateTime:yyyy-MM-dd HH:mm}")</td>
                        <td>@transaction.SourceLedgerName</td>
                        <td>@transaction.DestinationLedgerName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3>No transactions found</h3>
}

<script type="text/javascript">
    $(function () {
        if ($('#tblTransactions').length) {
            $('#tblTransactions').DataTable();
        }
    });
</script>