@using MDT.Models
@using MDT.Models.DTO
@model GroupInvite
@{ 
    GroupDTO group = (GroupDTO)Session["Group"];
}
<h2>Are you sure you want to delete this invitation?</h2>
<br />
<div>
    <p>The invititation sent to @Model.EmailAddress will no longer be valid for the group @group.GroupName.</p>
</div>
<br />
<div>
    @using (Ajax.BeginForm("DeleteInvite", "Group", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "inviteTable" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EmailAddress)
        <button type="submit" class="btn btn-sm btn-warning" id="btnConfirmDelete">Yes</button>
    }
    <br />
    @Html.ActionLink("No", "InviteList", "Group", new { @class = "btn btn-info" })
</div>

