@model MDT.ViewModels.GroupOptionsVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Group Settings</h2>


@using (Html.BeginForm("Edit", "Group", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(modelItem => Model.Descriptions[0].Title, new { htmlAttributes = new { @class = "form-control big-input", placeholder = "Paragraph 1 Heading"} })
            @Html.ValidationMessageFor(modelItem => Model.Descriptions[0].Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextAreaFor(modelItem => Model.Descriptions[0].TextBody, htmlAttributes: new { @class = "form-control", @rows = 4, placeholder = "Paragraph 1 Text" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(modelItem => Model.Descriptions[1].Title, new { htmlAttributes = new { @class = "form-control big-input", placeholder = "Paragraph 2 Heading" } })
            @Html.ValidationMessageFor(modelItem => Model.Descriptions[1].Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextAreaFor(modelItem => Model.Descriptions[1].TextBody, htmlAttributes: new { @class = "form-control", @rows = 4, placeholder = "Paragraph 2 Text" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(modelItem => Model.Descriptions[2].Title, new { htmlAttributes = new { @class = "form-control big-input", placeholder = "Paragraph 3 Heading" } })
            @Html.ValidationMessageFor(modelItem => Model.Descriptions[2].Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextAreaFor(modelItem => Model.Descriptions[2].TextBody, htmlAttributes: new { @class = "form-control", @rows = 4, placeholder = "Paragraph 3 Text" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-sm btn-info" value="Save" />
            <input type="button" class="btn btn-sm btn-warning" value="Return" onclick="location.href='@Url.Action("Index", "Group")'" />
        </div>
    </div>
</div>
}
