@model MDT.ViewModels.GroupVM
@using MDT.Models
@using MDT.Models.DTO

@{
    ViewBag.Title = $"{Model.GroupName}";
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool admin = WebManager.IsGroupAdmin(group.GroupId, user.UserId);
}

<h1>

    @Model.GroupName

    @if (admin)
    {

        <button class="btn btn-xs btn-success" onclick="location.href='@Url.Action("Edit", "Group")'" title="Edit Group Info"><span class="fa fa-pencil"></span></button>
        @Html.EditorFor(model => model.JoinConfirmation, new
        {
            htmlAttributes = new
            {
                data_toggle = "toggle",
                data_size = "mini",
                data_off = "<span title='Anyone with the access code can join.'><i class='fa fa-unlock'></i></span>",
                data_on = "<span title='Requires admin confirmation to join.'><i class='fa fa-lock'></i></span>",
                data_offstyle = "success",
                data_onstyle = "danger"
            }
        })

    }
    else
    {
        if (Model.JoinConfirmation)
        {
            <button class="btn btn-xs btn-danger" title="Requires admin confirmation to join."><span class="fa fa-lock" disabled></span></button>
        }
        else
        {
            <button class="btn btn-xs btn-success" title="Anyone with the access code can join."><span class="fa fa-unlock" disabled></span></button>
        }
    }
</h1>

<div class="form-horizontal">
    <hr />
    <b>Access Code: </b>@Model.AccessCode <br />
    <b>Members: </b> @if (admin || WebManager.HasPermission(group.GroupId, user.UserId, "Users"))
    {
        @Html.ActionLink($"{Model.Admins.Count + Model.Members.Count}", "Members", "Group", null, null) <br />
    }
    else
    {
        <span>@(Model.Admins.Count + Model.Members.Count)</span> <br />
    }



    @foreach (Description d in Model.InfoDesc)
    {
        if (!string.IsNullOrEmpty(d.Title))
        {
            <h3>@d.Title</h3>
        }
        if (!string.IsNullOrEmpty(d.TextBody))
        {
            <p>@d.TextBody</p>
        }
    }

</div>

@if (admin)
{
    <script type="text/javascript">

            $(function () {
                $('#JoinConfirmation').bootstrapToggle();
            });

            $(document).on('change', '#JoinConfirmation', function () {
                let flag = $(this).is(':checked');

                $.get(`@Url.Action("JoinConfirmation", "Group", null, null)?flag=${flag}`);
            });
    </script>
}