@model MDT.ViewModels.GroupOptionsVM
@using MDT.Models
@using MDT.Models.DTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (UserDTO)Session["User"];
    var group = (GroupDTO)Session["Group"];
}

<h2>Group Settings</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(model => model.GroupName)
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.GroupName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            @Html.LabelFor(model => model.AccessCode)
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.AccessCode)
        </div>
    </div>
    @if (WebManager.IsGroupAdmin(group.GroupId, user.UserId))
    {
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.JoinConfirmation)
            </div>
            <div class="col-md-8">
                <input type="checkbox" id="joinConfirm" data-toggle="toggle" data-on="Yes" data-offset="No" />
            </div>
        </div>

        <script type="text/javascript">
            $(document).on('change', '#joinConfirm', function () {
            console.log("test");
            let flag = $(this).is(':checked');
            $.get(`@Url.Action("JoinConfirmation", "Group", null, null)?flag=${flag}`);
            });
        </script>
    }
    @foreach (Description d in Model.Descriptions)
    {
        if (!string.IsNullOrEmpty(d.Title))
        {
            <h3>@d.Title</h3>
        }
        if (!string.IsNullOrEmpty(d.TextBody))
        {
            <p>@d.TextBody</p>
        }
    }
    @if (WebManager.IsGroupAdmin(group.GroupId, user.UserId))
    {
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <input type="button" class="btn btn-sm btn-info" value="Edit" onclick="location.href='@Url.Action("Edit", "Group")'" />
            </div>
        </div>
    }
</div>

﻿@using MDT.Models.DTO
@model List<UserDTO>
@{
    ViewBag.Title = "Group Members";
}
<div>
    @Html.ActionLink("View Invite List", "InviteList", "Group", new { @class = "btn btn-info" })
</div>
<br />
@if (Model.Any())
{
    <h1>List of Members</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserDTO member in Model)
            {
                <tr>
                    <td>@member.UserName</td>
                    <td>@member.EmailAddress</td>
                    <td>
                        @using (Html.BeginForm("TriggerPasswordReset", "Group", FormMethod.Post, new { @id = "form0" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("email", member.EmailAddress)
                            <input type="submit" value="Trigger Password Reset" class="btn btn-primary" />
                        }
                    </td>
                    <td>@Html.ActionLink("Kick from Group", "RemoveFromGroup", new { uId = member.UserId, guId = member.CurrentGroupId }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>THERE ARE NO MEMBERS OF THIS GROUP</h1>
}

