@using MDT.Models
@model List<GroupInvite>
@{
    ViewBag.Title = "Invite List";
}

<h2>Group Invitations <button type="button" class="btn btn-xs btn-success" id="btnAddInvite" title="Invite a new member to the group"><span class="fa fa-plus-circle"></span></button></h2>
<br />
<div id="inviteTable">
    @if (Model.Count != 0)
    {
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>E-Mail Address</th>
                <th>Last Invite Sent</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (GroupInvite u in Model)
            {
                <tr>
                    <td>@u.EmailAddress</td>
                    <td>@u.LastInviteDate.ToString("MM/dd/yyyy") at @u.LastInviteDate.ToString("hh:mm")</td>
                    <td>
                        @Html.Partial("RemindForm", u)

                        @Html.Partial("DeleteForm", u)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <p>There are no pending invites for this group.</p>
    }

</div>
<script type="text/javascript">
    $('#btnAddInvite').on('click', function () {
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load(`@Url.Action("InviteForm", "Group", null)`);
    });

</script>