@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model DrawVM
@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
}


<div class="col-md-6 col-xs-12">
    <h2>
        Drawing Entries
        @if (Model.IsActive)
        {
            <button type="button" class="btn btn-xs btn-success btnModal" data-action="@Url.Action("AddUserEntries", "Draw", new { id = Model.DrawId })" title="Add User Entries"><span class="fa fa-plus-circle"></span></button>
            <button type="button" class="btn btn-xs btn-danger btnModal" data-action="@Url.Action("RemoveUserEntries", "Draw", new { id = Model.DrawId })" title="Remove User Entries"><span class="fa fa-times-circle"></span></button>
        }
    </h2>
    @if (Model.Entries.Any())
    {
        <table id="drawing_entry_table" class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Entry Count</th>
                    @if (Model.IsActive && Model.RemovalRequests.Any())
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (EntryVM entry in Model.Entries)
                {
                    <tr>
                        <td>@entry.UserName</td>
                        <td>@entry.EntryCount</td>
                        @if (Model.IsActive && Model.RemovalRequests.Any())
                        {
                            <td class="text-center">
                                @if (Model.RemovalRequests.ContainsKey(entry.UserId))
                                {
                                    <button type="button" class="btn btn-xs btn-danger btnModal" data-action="@Url.Action("RemovalRequests", "Draw", new { drawid = Model.DrawId, userId = entry.UserId })" title="User Requested Removals"><span class="fa fa-times-circle"></span></button>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">No entries could be found.</h3>
    }
</div>
