@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model DrawVM
@{
    ViewBag.Title = $"View {(Model.Title ?? Model.VirtualTitle)}";
    UserDTO user = (UserDTO)Session["User"];
}

<div class="row text-center ">
    <h1>@(Model.Title ?? Model.VirtualTitle)</h1>
    <h2>@Html.ActionLink(Model.DrawTypeName, "ViewDrawType", "Draw", new { id = Model.DrawTypeId }, null)</h2>
</div>
<div class="row">
    <div class="col-md-7 col-xs-12" id="divDesc">
        @{
            Html.RenderPartial("DrawDescription", Model);
        }
    </div>
    <div class="col-md-5 col-xs-12" id="rules">
        @{
            Html.RenderPartial("DrawRules", Model);
        }
    </div>
    <div class="col-md-12" id="Entries">
        @{ 
            Html.RenderAction("ViewEntries", new { id = Model.DrawId });
        }
    </div>


    @if (WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId))
    {
        <script type="text/javascript">
            let ct = @Model.Descriptions.Count;

            $(document).on('click', '#btnAddDesc', function () {
                $('#descedit').append(
                    `<div id="desc-${ct}">
                        <div class="row">
                        <input id="Descriptions_${ct}__SortOrder" name="Descriptions[${ct}].SortOrder" type="hidden" value="${ct}">
                        <input id="Descriptions_${ct}__IsActive" name="Descriptions[${ct}].IsActive" type="hidden" value="True">
                        <div class="col-xs-9">
                        <input class="form-control big-input text-box single-line" data-val="true" data-val-maxlength="Title cannot exceed 50 characters" data-val-maxlength-max="50" id="Descriptions_${ct}__Title" name="Descriptions[${ct}].Title" placeholder="Paragraph Heading" type="text" value="">
                        </div>
                        <div class="col-xs-1 text-right">
                        <button type="button" data-desc-id="${ct}" class="btn btn-xs btn-danger DescDelete" title="Delete"><span class="fa fa-trash-o"></span></button>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-10">
                        <textarea class="form-control" cols="20" id="Descriptions_${ct}__TextBody" name="Descriptions[${ct}].TextBody" placeholder="Paragraph Text" rows="4"></textarea>
                        </div>
                        </div>
                        <br /><br />
                        </div>`);
                ct++;
            });

            $(document).on('click', '.DescDelete', function () {
                let id = $(this).attr('data-desc-id');
                $(`#Descriptions_${id}__IsActive`).val('False');
                $(`#desc-${id}`).hide();
            });

            $(document).on('click', '#btnDescEdit', function () {
                $('#modaldiv').empty();
                $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
                $('#popup').modal("show");
                $('#modaldiv').load('@Url.Action("DrawDescriptionEdit", "Draw", new { id = Model.DrawId })');
            });

            $(document).on('click', '#btnEnter', function () {
                $('#modaldiv').empty();
                $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
                $('#popup').modal("show");
                $('#modaldiv').load('@Html.Raw(Url.Action("GoToEntryForm", "Entry", new { drawId = Model.DrawId, drawTypeId = Model.DrawTypeId, userId = user.UserId }))');
            });

            $(document).on('click', '#btnStart', function () {
                $('#rules').empty();
                $('#rules').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
                $('#rules').load('@Url.Action("StartDraw", "Draw", new { id = Model.DrawId }, null)');
            });

            $(document).on('click', '#btnRuleEdit', function () {
                $('#modaldiv').empty();
                $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
                $('#popup').modal("show");
                $('#modaldiv').load('@Url.Action("EditDraw", "Draw", new { id = Model.DrawId })');
            });

            $(document).on('click', '#submitEntriesBtn', function () {
                let entryID = $('#EntryId').val();
                let numEntries = parseInt($('#EntryCount').val());
                let baseURL = '@Url.Action("AddEntries", "Entry")';
                let parameters = {
                    drawId: @Model.DrawId,
                    drawTypeId: @Model.DrawTypeId,
                    userId: @user.UserId,
                    entryCount: numEntries,
                    entryId: entryID
                }
                let paramURL = $.param(parameters, true);
                let fullURL = baseURL + '?' + paramURL;
                $('#addEntries').empty();
                $('#addEntries').load(fullURL);
            });

            $(document).on('click', '#testWinners', function () {
                $('#modaldiv').empty();
                $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
                $('#popup').modal("show");
                $('#modaldiv').load('@Url.Action("SelectWinnersSUP", "Draw", new { drawId = Model.DrawId})');
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
           

            $(document).on('click', '#btnEnter', function () {
                $('#modaldiv').empty();
                $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
                $('#popup').modal("show");
                $('#modaldiv').load('@Html.Raw(Url.Action("GoToEntryForm", "Entry", new { drawId = Model.DrawId, drawTypeId = Model.DrawTypeId, userId = user.UserId }))');
            });

           
        </script>
    }
    <script type="text/javascript">
        $(document).on('click', '#btnEntryDisplay', function () {
            $('#modaldiv').empty();
            $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
            $('#popup').modal("show");
            $('#modaldiv').load('@Url.Action("ShowEntries", "Entry", new { drawId = Model.DrawId})');
        });

        $(document).on('click', '#showWinners', function () {
            $('#modaldiv').empty();
            $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
            $('#popup').modal("show");
            $('#modaldiv').load('@Url.Action("DisplayDrawnWinners", "Draw", new {drawId = Model.DrawId})');
        });
    </script>
</div>
