@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model List<UserDrawEntriesVM>
@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
}

<div>
    Your Entry Total: @ViewBag.MyEntries
</div>
@if (Model.Any())
{

    if (WebManager.IsGroupAdmin(group.GroupId, user.UserId))
    {
        <h3 class="text-center">Drawing Entries</h3>
        <div>
            <table id="drawing_entry_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Entry Count</th>
                        <th>Delete Entries</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserDrawEntriesVM UserEntry in Model)
                    {
                        <tr>
                            <td>@UserEntry.UserName</td>
                            <td>@UserEntry.NumEntries</td>
                            <td>
                                <input type="submit" class="btn btn-sm btn-danger" value="Remove" onclick="RemoveEntries(@UserEntry.UserId, @UserEntry.DrawId)"/>
                            </td>
                        </tr>
                     }
                    </tbody>
                    </table>
                    </div>
                }
            }
            else
            {
                <h1 class="text-center">No entries could be found.</h1>
            }

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.searchPanes.min.js"></script>
<script src="~/Scripts/dataTables.select.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/select.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/searchPanes.dataTables.min.css" />

<script type="text/javascript">
    function RemoveEntries(Entrant, Drawing)
    {
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load(`@Url.Action("RemoveEntries", "Draw")?UserId=${Entrant}&DrawId=${Drawing}`);
    }
</script>