@using MDT.Models.DTO
@using MDT.Models
@using MDT.ViewModels
@model List<DrawEntryDTO>

@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
@if (Model.Any())
{
    <h2 class="text-center">Entry List</h2>
    <div>
        <table id="entries_table" class="table table-bordered">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Amount</td>
                    <td>Code</td>
                    <td><!--Remove Entry Button--></td>
                    <td><!--Remove Entry Approval--></td>
                </tr>
            </thead>
            <tbody>
                @foreach (DrawEntryDTO drawEntry in Model)
                {
                    using (var db = new DbEntities())
                    {
                        Draw draw = db.Draws.Find(drawEntry.DrawId);
                        DrawType dt = db.DrawTypes.Find(draw.DrawTypeId);
                        <tr>
                            <td>@drawEntry.UserName</td>
                            <td>soon...</td>
                            <td>@drawEntry.EntryCode</td>
                            @if (dt.RefundConfirmationRequired)
                            {
                                if (WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId))
                                {
                                    <td>
                                        <button data-entryid="@drawEntry.EntryId" class="btn btn-sm btn-danger entry-rmv" title="Remove Entry">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </td>
                                    if (drawEntry.PendingRemoval)
                                    {
                                        <td>
                                            <button data-approval-entryid="@drawEntry.EntryId" class="btn btn-sm btn-success approve-entry-rmv" title="Approve Removal">
                                                <span class="fa fa-check-circle"></span>
                                            </button>
                                            <button data-rejection-entryid="@drawEntry.EntryId" class="btn btn-sm btn-danger reject-entry-rmv" title="Reject Removal">
                                                <span class="fa fa-times-circle-o"></span>
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button data-approval-entryid="@drawEntry.EntryId" class="btn btn-sm btn-success approve-entry-rmv disabled" title="Approve Removal">
                                                <span class="fa fa-check-circle"></span>
                                            </button>
                                            <button data-rejection-entryid="@drawEntry.EntryId" class="btn btn-sm btn-danger reject-entry-rmv disabled" title="Reject Removal">
                                                <span class="fa fa-times-circle-o"></span>
                                            </button>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        <button data-entryid="@drawEntry.EntryId" class="btn btn-sm btn-warning entry-rmv-start" title="Request Removal">
                                            <span class="fa fa-times-circle"></span>
                                        </button>
                                    </td>
                                }
                            }
                            else
                            {
                                <td>
                                    <button data-entryid="@drawEntry.EntryId" class="btn btn-sm btn-danger entry-rmv" title="Remove Entry">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h1 style="text-align:center">NO ENTRIES OF THIS DRAWING</h1>
}

<script type="text/javascript">
    $(document).on('click', '.entry-rmv-start', function () {
        let entryID = $(this).attr('data-entryid');
        let baseURL = '@Url.Action("RequestEntryRemoval", "Entry")';
        let parameters = {
            id: entryID
        };
        let paramURL = $.param(parameters, true);
        let fullURL = baseURL + '?' + paramURL;
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load(fullURL);
    });

    $(document).on('click', '.entry-rmv', function () {
        let entryID = $(this).attr('data-entryid');
        let baseURL = '@Url.Action("RemoveEntry", "Entry")';
        let parameters = {
            id: entryID
        };
        let paramURL = $.param(parameters, true);
        let fullURL = baseURL + '?' + paramURL;
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load(fullURL);
    });

    $(document).on('click', '.approve-entry-rmv', function () {
        let entryID = $(this).attr('data-approval-entryid');
        let baseURL = '@Url.Action("RemoveEntry", "Entry")';
        let parameters = {
            id: entryID
        };
        let paramURL = $.param(parameters, true);
        let fullURL = baseURL + '?' + paramURL;
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load(fullURL);
    });

    $(document).on('click', '.reject-entry-rmv', function () {
        let entryID = $(this).attr('data-rejection-entryid');
        let baseURL = '@Url.Action("RejectRemoval", "Entry")';
        let parameters = {
            id: entryID
        };
        let paramURL = $.param(parameters, true);
        let fullURL = baseURL + '?' + paramURL;
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load(fullURL);
    });
</script>
