@using MDT.Models;
@using MDT.Models.DTO;
@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool isGroupAdmin = user != null && group != null ? WebManager.IsGroupAdmin(group.GroupId, user.UserId) : false;
    bool admin = (bool?)Session["IsAdmin"] ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - My Drawing Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    @RenderSection("head", required: false)

</head>
<body>
    <div id="Banner">
        @{
            Html.RenderAction("Banner", "Home");
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
    </div>

    <div class="modal fade" id="popup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="modaldiv">

            </div>
        </div>
    </div>
    <footer class="text-center">
        <hr />
        <p>&copy; @DateTime.Now.Year - My Drawing Tracker</p>
    </footer>

    <script type="text/javascript">
        $(document).on('click', '.btnModal', function () {
            let action = $(this).attr('data-action');
            $('#modaldiv').empty();
            $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
            $('#popup').modal("show");
            $('#modaldiv').load(action);
        });

        $(document).on('click', '.btnPanel', function () {
            let action = $(this).attr('data-action');
            let panel = `#${$(this).attr('data-panel')}`;
            $(panel).empty();
            $(panel).append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
            $(panel).load(action);
        });

        function hideModal() {
            $('#popup').modal("hide");
        }
        function showModalError(result) {
            $('#modaldiv').empty();
            $('#modaldiv').append(result.responseText);
        }
    </script>
</body>

</html>
