@using MDT.Models;
@using MDT.ViewModels;
@using MDT.Models.DTO;
@model GroupNavVM

@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool? UserVerified = (bool?)Session["VerifiedUser"];
    bool? GroupApproved = (bool?)Session["ApprovedGroup"];
    bool isGroupAdmin = user != null && group != null ? WebManager.IsGroupAdmin(group.GroupId, user.UserId) : false;
}

@if (user != null && (UserVerified ?? false) && (GroupApproved?? false))
{
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Draw Types <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @if (isGroupAdmin || user.CanManageDrawTypes)
            {
                <li><a href="#" class="btnModal" data-action="@Url.Action("EditDrawType", "Draw", new { id = 0 } )">Create New Draw Type</a></li>
            }
            @foreach (DrawTypeDTO dt in Model.DrawTypes)
            {
                <li>@Html.ActionLink(dt.DrawTypeName, "ViewDrawType", "Draw", new { id = dt.DrawTypeId }, null)</li>
            }
        </ul>
    </li>


    if (Model.ActiveDraws.Any())
    {

        <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Active Draws <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @foreach (DrawDTO dto in Model.ActiveDraws.OrderBy(d => d.EndDateTime))
                {
                    <li>@Html.ActionLink(dto.Title, "ViewDraw", "Draw", new { id = dto.DrawId }, null)</li>
                }
            </ul>
        </li>
    }

    if (Model.EndedDraws.Any())
    {

        <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Completed Draws <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @foreach (DrawDTO dto in Model.EndedDraws.OrderByDescending(d => d.EndDateTime))
                {
                    <li>@Html.ActionLink(dto.Title, "ViewDraw", "Draw", new { id = dto.DrawId }, null)</li>
                }
            </ul>
        </li>
    }

    if (Model.InactiveDraws.Any() && (isGroupAdmin || user.CanManageDrawTypes))
    {

        <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Inactive Draws <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @foreach (DrawDTO dto in Model.InactiveDraws)
                {
                <li>@Html.ActionLink(dto.Title, "ViewDraw", "Draw", new { id = dto.DrawId }, null)</li>
                }
            </ul>
        </li>
    }
    if (user != null)
    {
        <li>@Html.ActionLink("Transactions", "Index", "Transaction", null, null)</li>
        if (isGroupAdmin || user.CanManageUsers)
        {
            <li>@Html.ActionLink("Group Members", "Members", "Group", null, null)</li>
        }
    }
}