@model MDT.ViewModels.UserPasswordResetSetupVM

<div id="passDiv">
    @if (Model.Success)
    {
        <div class="row text-center">
            <h3>Check your email for password reset instructions.</h3>
            <br />
            <button type="button" class="btn btn-warning" id="btnCancelForgot">Back</button>
        </div>
    }
    else
    {
        using (Ajax.BeginForm("ForgotPass", "Home", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "userAccess" }, htmlAttributes: new { @id = "ForgotPasswordForm" }))
        {
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-xs-4" })
                    <div class="col-xs-8">
                        @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-8 pull-right">
                        <button type="button" class="btn btn-warning btnBackToSignIn">Back</button>
                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </div>
                </div>
            </div>
        }
    }
</div>
