@{
    ViewBag.Title = "Home";

}

@if (ViewBag.Message != null)
{
    <div class="row text-center">
        <h3 class="text-success">@ViewBag.Message</h3>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="row text-center">
        <h3 class="text-danger">@ViewBag.Error</h3>
    </div>
}

<div class="row">
    <div class="col-md-7  col-sm-12">
        <div class="jumbotron">
            <h1>My Drawing Tracker</h1>
            <p class="lead">Coming Soon </p>
            <p>
                Some stuff about the site

            </p>
        </div>
    </div>

    <div class="col-md-5 col-sm-12" id="userAccess" style="border:2px solid black;padding:25px;">
        @{
            Html.RenderPartial("UserAccess");
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#btnForgotPass', function () {
        $('#userAccess').empty();
        $('#userAccess').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#userAccess').load('@Url.Action("ForgotPass", "Home", null, null)');
    });
    $(document).on('click', '.btnBackToSignIn', function () {
        $('#userAccess').empty();
        $('#userAccess').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#userAccess').load('@Url.Action("SignIn", "Home", null, null)');
    });
    $(document).on('click', '#btnCreateAccount', function () {
        $('#userAccess').empty();
        $('#userAccess').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#userAccess').load('@Url.Action("NewUser", "Home", null, null)');
    });
    $(document).on('click', '#btnSendVerification', function () {
        $('#userAccess').load('@Url.Action("SendVerification", "Home", null, null)');
    });

    $(document).on('change', '#createToggle', function () {
        if ($(this).is(':checked')) {
            $('#groupAdmin').show();
            $('#groupUser').hide();
        } else {
            $('#groupAdmin').hide();
            $('#groupUser').show();
        }
    });
</script>